.galleryHelp {
  display: grid;
  align-items: start;
  gap: 2rem;
  padding: 3rem 1rem;
  @media screen and (min-width: 56.25rem) {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 3rem;
    padding: 7rem 1rem;
  }
}

.app-card {
  width: min(33rem, 100%);
  display: grid;
  gap: 2rem;
  padding-top: 3.125rem;
  margin: auto;
  @media screen and (min-width: 20rem) {
    grid-template-columns: 6rem 1fr;
  }
  @media screen and (min-width: 56.25rem) {
    margin: initial;
    &:nth-child(odd) {
      justify-self: end;
    }
  }
}
