
<button id="dropdownRadioButton" data-dropdown-toggle="dropdownDefaultRadio" class="rounded-lg text-sm px-5 py-5 text-center inline-flex items-center text-[var(--letter-clr)] bg-[var(--primary-clr)] dark:bg-[var(--base-color)] dark:border-gray-700 dark:text-white" type="button">Filter by Region <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 10 6">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
</svg>
</button>

<!-- Dropdown menu -->
<div id="dropdownDefaultRadio" class="z-10 hidden w-48 divide-y divide-gray-100 rounded-lg shadow dark:divide-gray-600 bg-[var(--primary-clr)] dark:bg-[var(--base-color)]">
  <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioButton">
    <li *ngFor="let filter of filterParams">
      <button class="hover:opacity-60 block w-full text-left"
        type="button"
        (click)="filterAndRender(filter)">
        {{filter}}
      </button>
    </li>
  </ul>
</div>
