<div class="dashBoard">
  <table class="dashBoard-table">
      <thead class="dashBoard-thead">
          <tr>
              <th scope="col">
              </th>
              <th scope="col" colspan="2">
                  Color
              </th>
          </tr>
      </thead>
      <tbody class="dashBoard-tbody">
          <tr>
              <th scope="row">
                  Apple MacBook Pro 17"
              </th>
              <td>
                  Silver
              </td>
              <td>
                  <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              </td>
          </tr>
      </tbody>
  </table>
</div>
