.login {
  display: grid;
  height: 201px;
  place-content: center;
  border-top: solid 1px rgba(255,255,255,.7);
  position: absolute;
  inset: auto 0 0 0;
  transform: translateY(100%);
  background: var(--primary-clr);
  @media screen and (min-width: 75rem) {
    display: flex;
    gap: 1rem;
    height: initial;
    border-top: initial;
    position: initial;
    transform: initial;
  }
}
