<footer class="w-full text-lg font-extrabold text-center md:text-left">
  <div class="md:w-[14.5rem]">
    <p>
      Backstage Talks is a magazine of casual, but in depth dialogues on design and business. Our decisions shape and influence this complex world—to have a chance to make the right ones, we need to talk.
    </p>
    <div class="font-light text-xs py-1">
      <span>
        @ 2023
      </span>
      <a class="underline" href="#">
        Published by Büro Milk
      </a>
    </div>
  </div>
  <div class="py-7 grid gap-12 md:grid-cols-2 md:py-0 md:pt-7">
    <a class="underline " href="#">Privacy Policy</a>
    <a class="md:justify-self-end" href="#">info@backstagetalks.com</a>
  </div>
  <app-navbar />
</footer>
