<form autocomplete="off" class="text-[var(--letter-clr)] bg-[var(--primary-clr)] dark:bg-[var(--base-color)] dark:border-gray-700 dark:text-[var(--primary-clr)]">
  <label
    aria-label="search"
    for="default-search"
    class="mb-2 text-sm font-medium sr-only">
    Search
  </label>
  <div class="relative">
      <button class="absolute inset-y-0 left-0 flex items-center pl-3"
        type="button"
        title="search"
        aria-label="search country"
        (click)="clickHandler()">
        <svg class="w-4 h-4 text-gray-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
      </button>
      <input
        class="block w-full p-4 pl-10 text-sm border-0 rounded-lg dark:placeholder-white dark:text-white bg-inherit"
        [(ngModel)]="inputValue"
        name="searchBar"
        (keydown)="(keydownHandler($event))"
        type="search"
        id="default-search"
        placeholder="Search for a country...">
  </div>
</form>
