<figure role="contentinfo"
  class="max-w-xs mx-auto sm:w-card border rounded-lg shadowbg-[var(--primary-clr)]  dark:border-gray-700 bg-[var(--primary-clr)] dark:bg-[var(--base-color)]"
>
  <a class="relative block h-36 md:h-44"
    [routerLink]="['flag/',dataCountry.name.common]"
    [title]="'more info of ' + dataCountry.name.common"
    [attr.aria-label]="'more info of ' + dataCountry.name.common"
    rel="noopener noreferrer">
    <img class="rounded-t-lg"
      [ngSrc]="dataCountry.flags.png"
      [alt]="dataCountry.name.common"
      fill
      priority/>
  </a>
  <div class="p-5">
    <figcaption
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      {{dataCountry.name.common}}
    </figcaption>
    <div class="grid gap-1">
      <p class="flex gap-1">
        <span class="font-medium dark:text-white">Population:</span>
        <span class="text-gray-500 dark:text-gray-300">{{dataCountry.population| number: '1.0'}}</span>
      </p>
      <p class="flex gap-1">
        <span class="font-medium dark:text-white">Region:</span>
        <span class="text-gray-500 dark:text-gray-300">{{dataCountry.region}}</span>
      </p>
      <p class="flex gap-1">
        <span class="font-medium dark:text-white">Capital:</span>
        <span *ngIf="dataCountry.capital?.[0]" class="text-gray-500 dark:text-gray-300">{{dataCountry.capital[0] }}</span>
      </p>
    </div>
  </div>
</figure>
