<section class="grid place-content-center h-[50dvh]">
  <header class="text-purple-500 font-black text-3xl md:text-7xl text-center ">
    <h2>¡This address does not exist!</h2>
    <span class="text-xl text-white cursor-not-allowed underline tracking-widest mix-blend-difference">{{pathname}}</span>
    <span class="py-8 block">404</span>
  </header>
  <a routerLink=""
    class="justify-self-center text-white bg-purple-700 py-2 px-4 font-medium tracking-wider rounded-md hover:scale-95 active:scale-105 duration-100">
    Return Home
  </a>
</section>
